{% extends "layout.html" %}
{% block navbar %}
<li><a href="/home">Admin</a></li>
<li><a href="/home">Home</a></li>
<li><a href="/update">Update ingredients</a></li>
<li><a href="/logout">Logout</a></li>
{% endblock %}
{% block content1 %}
<form action="/add_ingredient" method="POST">
  <h3>Add new ingredient:</h3>
  <br>
  Ingredient name:
  <br>
  <input type="text" name="name" pattern="[A-Za-z]+" maxlength="20" required></p>
  Ingredient storage place:
  <br>
  <input type="radio" name="place" id="fridge" value="fridge"> Fridge </input><br>
  <input type="radio" name="place" id="pantry" value="pantry"> Pantry </input><br>
  <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
  <br>
  <input type="submit" value="Send">
</form>
{% endblock %}

{% block content2 %}
<form action="/add_recipe" method="POST">
  <h3>Add new recipe:</h3>
  <br>
  Recipe name:
  <br>
  <input type="text" name="name" pattern="[A-Za-z]+" maxlength="20" required></p>
  Ingredients:
  <br>
  {%for i in range(1, length)%}
  <input type="checkbox" name="cb" value={{ i }} id="ingredient-{{i}}">
  <label for="ingredient-{{loop.index}}">{{options[i]}}</label>
  <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
  <br>
  {%endfor%}
  <br>

  Instructions:
  <br>
  <textarea name="instructions" rows="10" cols="50" maxlength="500" required></textarea>
  <br>
  <input type="submit" value="Send">
</form>
{% endblock %}