{% extends "layout.html" %}
{% block navbar %}
                <li><a href="/home">Home</a></li>
                <li><a href="/update">Update ingredients</a></li>
                <li><a href="/logout">Logout</a></li>
                {% endblock %}
                
{% block content1 %}
<h2>{{recipe_name}}</h2>
<h4> Ingredients:</h4>
    <ul>
    {%for i in range(0, length_ing)%} 
    <li> {{recipe_ingredients[i]}}</li>
    {%endfor%}
</ul>

{% endblock %}

{% block content2 %}
<h3> Instructions:</h3>
    {{recipe_instructions}}
{% endblock %}