{% extends "layout.html" %}
{% block content %}
<br>
<br>
<hr4>Register:</hr4>
<br>
<form action="/register" method="POST">
    {% with messages = get_flashed_messages() %}
    {% if messages %}
      <ul>
      {% for message in messages %}
        <li>{{ message }}</li>
      {% endfor %}
      </ul>
    {% endif %}
  {% endwith %}
    <p>Username:<br>
    <input type="text" name="username"></p>
    <p>Password:<br>
    <input type="password" name="password"></p>
    <input type="submit" value="Register">
    </form>
 {% endblock %}